        <div class="movie-poster"><img ng-src="{{ movie.poster }}"/></div>
        <div class="movie-details">
          <div class="movie-name">{{ movie.name }} ({{ movie.year }})</div>
          <div class="movie-genres">{{ movie.genres }}</div>
          <div class="movie-rating"><img ng-src="/static/img/star-icon.svg" ng-repeat="i in getMovieRating() track by $index"/></div>
          <div class="movie-add">
            <select id="add-button" class="btn dropdown-toggle" ng-model="list" ng-change="toggleModal(); setSelectedList(list)">
              <option value="" disable selected hidden>Add to</option>
              <option ng-repeat="option in availableLists" value="{{ option }}"> {{ option.name }} </option>
            </select>
          </div>

        </div>