    <div ng-class="{navigationHighlight: verifyLocation('/home')}" class="home" ng-controller="homeNav" ng-click="goMyHome()" >
        <img  ng-src="static/img/home-icon.svg" /><br>Home
    </div>
    <div ng-class="{navigationHighlight: verifyLocation('/')}" class="my-profile" ng-controller="homeNav" ng-click="goMyProfile()">
        <img ng-src="static/img/user-icon.svg"/><br>My Profile
    </div>
    <div ng-class="{navigationHighlight: verifyLocation('/movies')}" class="movies" ng-controller="homeNav" ng-click="goMovies()">
        <img ng-src="static/img/movie-icon.svg"/><br>Movies
    </div>
    <div ng-class="{navigationHighlight: verifyLocation('/my-lists')}" class="my-lists" ng-controller="homeNav" ng-click="goMyLists()">
        <img ng-src="static/img/list-icon.svg"/><br>My Lists
    </div>
    <div ng-class="{navigationHighlight: verifyLocation('/settings')}" class="settings" ng-controller="homeNav" ng-click="goSettings()">
        <img ng-src="static/img/settings-icon.svg"/><br>Settings
    </div>


