<div style='margin: 0 auto;'>
  <div style='float: left;'>
    <div class="review-movie-title">  Movie: <a ng-controller="movieNav" ng-click="goToSelectedMovie(review.Movie_title)"> {{review.Movie_title}} </a></div>
  </div>
  <div style='float: right;'>
    <div class="list-post-options">
      </button>
    </div>
  </div>
</div>

<div style="clear: both;"></div>
<div class="review-block" style="'display: flex; flex-direction: row'">
                      <div class="review-left-block">

                        <div class="profile-picture-thmb" ng-controller="anotherUserProfile"><img src="{{userDetails.picture}}"/></div>

                            <div class="review-post-content">
                                <a ng-controller="userNav" ng-click="goToAnothersUserProfile(userDetails.name )">{{ userDetails.name }}</a>
                            </div>
                      </div>
                       
                      <div class="review-right-block">
                            <div class="review-title"> {{review.Review_title}} </div>
                            <div class="user-rating"><img ng-src="/static/img/star-icon.svg" ng-repeat="i in getReviewerRating(review.Rating) track by $index"/> {{ review.Rating }}</div>
                            <div class="review-text"> {{review.review}} </div>
                      </div>
                     
</div>
