<div class="review-movie-title">  Movie: <a ng-controller="movieNav" ng-click="goToSelectedMovie(review.Movie_title)"> {{review.Movie_title}} </a></div>
<div>
                      <span>

                        <div class="profile-picture-thmb"><img src="/static/img/profile-picture-placeholder.svg"/></div>

                            <div class="review-post-content">
                                <a ng-controller="userNav" ng-click="goToUserProfile(userDetails.name )"> {{ userDetails.name }}</a>
                            </div>
                      </span>
                      <span>
                            <div class="review-title"> {{review.Review_title}} </div>
                            <div class="user-rating"><img ng-src="/static/img/star-icon.svg" ng-repeat="i in getReviewerRating(review.Rating) track by $index"/> {{ review.Rating }}</div>
                            <div class="review-text"> {{review.review}} </div>
                      </span>
</div>