<div class="list-post-content">
    <a ng-controller="listNav" ng-click="goToList(list.List_name )">{{ list.List_name }}</a>
    <br>
    {{ list.year | date }}
    <br>
    <ol class="movie-list" >
        <flex-slider slide="poster in list.movies track by $index" animation="slide" item-width="210" item-margin="5" slideshow="false">
            <li>
                <div class="movie-entry">
                    <a ng-controller="movieNav" ng-click="goToSelectedMovie(poster.title)"><img id="flex-slider-poster" ng-src="{{poster.poster}}"></a>
                    <br><a ng-controller="movieNav" ng-click="goToSelectedMovie(poster.title)" >{{poster.title}}</a> 
                </div>
            </li>
        </flex-slider>
    </ol>
</div>