/*			*/
/*	General */
/*			*/

html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width: 100%;
 height: 100%;
 background-color: #eee9e9;
 display: flex;
 flex-direction: column;
}

a {
	color: #b22222;
}

a:hover {
	color: #581010;
	cursor: pointer;
}

.header {
 background-color: #b22222;
 color: white;
 width:100%;
display: flex;
flex-direction: row;
}

/*.header img {
   display: inline-block;
}*/

.location {
flex-grow: 0.1;
text-align: left;
padding: 0.5em;
margin-top: 0.3em;
font-weight: bold;
}

.filmshack-logo {
	font-family: 'Yesteryear', cursive;
	font-size: 30px;
text-align: center;
flex-grow: 0.8;
}

.logout {
flex-grow: 0.1;
text-align: right;
padding: 0.5em;
}

.logout img {
	width: 30px;
	height: 30px;
}

.logout:hover {
	cursor: pointer;
}

.content {
	background-color: #eee9e9;
	height: 100%;
}

.navigation {
	background-color: #b22222;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navigation div:hover {
	background-color: #581010;
}

.navigation div {
    padding-top: 5px;	
	display: inline-block;
	flex-grow: 1;
	text-align: center;
	color: #ff8080;
}

.navigation div img {
	width: 25px;
	height: 25px;
}

/*			    */
/*	Img Upload	*/
/*			    */
.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    padding-top: 0px;
    margin: 20px;
}
.after-drop{
    padding-top: 0px;
    margin: 20px;
}
.dragover {
    border: 5px dashed #e69380;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    line-height: 15px;
    height: 30px;
    font-size: small;
    background: #e69380;
}

/*			*/
/*	Home 	*/
/*			*/

.home-location {
	background-color: #751515;
	color: white;	
}

.location-img {
	width: 25%;
}

.location-img img {
	width: 15em;
	height: 20em;
}

.location-details {
	margin-top: 25px;
}

.location-title {
	font-size: 40px;
}

.location-details button, .location-details button:active, .location-details button.active {
	background-color: #B22222;
	border-color: #581010;	
	margin-top: 15px;
	margin-bottom: 15px;
}

.location-details button:hover {
	background-color: #FF8080;
	border-color: #581010;	
}

/*			*/
/*	Profile */
/*			*/

.user-info, .movie-info {
	background-color: #751515;
	display: flex;
	flex-direction: row;
	color: #ffffff;
}

.user-info div:first-child, .movie-info div:first-child {

}

.profile-picture, .movie-poster {
	display: inline-block;
	flex-grow: 1;
	text-align: center;
	margin: 15px;
}

@media only screen and (max-width: 500px) {
	.profile-picture img, .movie-poster img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;		
}
}

.list-post-img {
	text-align: center;	
}

.list-post-img img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	padding: 10px;	
}

.profile-picture img, .movie-poster img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;		
}

.user-details, .movie-details {
	display: inline-block;
	flex-grow: 1;
	padding-top: 15px;
}

.user-details div, .movie-details div {
	padding-top: 10px;
}

.user-name, .movie-name {
	font-size: 250%;
	font-weight: bold;
}

.user-rating img, .movie-rating img {
	width: 35px;
	height: 35px;
}

.user-quote {
	font-size: 150%;
}

.follow-button, .add-button {
   color: white;
   font-size: 14px;
   padding:2px 10px;
   border-radius: 2px;
   width: 95px;
   height: 30px;
   background-repeat:no-repeat;
   background-size: cover;
   background-position:center;	
}

#add-button {
   font-size: 14px;
   padding:2px 10px;
   border-radius: 2px;
   height: 30px;
   background-color: #B22222;	
}

.follow-button:hover, .add-button:hover {
   color: rgb(255,80,80);
   background: rgba(255,80,80,0.25);
   transition: background 500ms;
}

.follow-button, .add-button {
	background-image: url(../img/plus-button-background.svg);
}

.activity-post, .event-post {
	background-color: white;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	padding: 0.5em 0em 0.5em 0em;
}

.review-post {
	background-color: white;
	margin-top: 15px;
	padding: 10px;	
}

.review-title {
	font-weight: bold;
	font-size: 24px;
}

.review-block {
	display: flex; 
	flex-direction: row;
}

.review-left-block {
	padding-top: 5px;
}

.review-left-block div {
	padding-bottom: 5px;
}

.review-right-block {
	padding-top: 5px; 
	padding-left: 25px;	
}

.review-right-block div {
	padding-bottom: 5px;
}

.profile-picture-thmb {
	padding-left: 10px;
}

.profile-picture-thmb img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;		
}

.movie-list {
	background-color: white;
	margin-top: 15px;
	display: inline;
}
#flex-slider-poster{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	overflow: hidden;	
}

#flex-slider-poster:hover{
	cursor: pointer;
}

.post-content, .search-content-wrapper, .activity-post-content, .movie-post-content {
	flex-grow: 1;
	overflow: hidden;
	margin-left: 0.9em;
}

.review-post-content {
	flex-grow: 1;
	overflow: hidden;
	margin-left: 5px;
	text-align: center;	
}

/*					*/
/*	Profile, Movies */
/*					*/

.profile-tabs {
	background-color: white;
	display: flex;
	flex-direction: row;
}

.profile-tabs:hover {
	cursor: pointer;
}

.my-profile:hover {
	cursor: pointer;
}

.events:hover {
	cursor: pointer;
}

.movies:hover {
	cursor: pointer;
}

.my-lists:hover {
	cursor: pointer;
}

.settings:hover {
	cursor: pointer;
}

.navigationHighlight{
    background-color: #581010;
    border-bottom: 5px solid #FF8080;
}
.home:hover {
	cursor: pointer;
}

.profile-tabs div {
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	flex-grow: 1;
	text-align: center;
}

.profile-tabs div img {
	width: 20px;
	height: 20px;
}

.active {
	background-color: #eee9e9;
	color: #b22222;
	font-weight: bold;	
}

/*											*/
/*	Settings, My-Lists, Fanclubs, My Events */
/*											*/


.account-settings, .business-settings, .profile-settings, .lists, .my-users, .my-fanclubs, .public-fanclubs, .my-events, .public-events {
	background-color: white;
	display: flex;
    justify-content: center;
	flex-direction: column;
}

.profile-settings, .business-settings {
	margin-top: 25px;
}

.account-settings h4, .business-settings h4, .profile-settings h4, .lists h4, .my-users h4, .my-fanclubs h4, .public-fanclubs h4, .my-events h4, .public-events h4, .post-content h4{
	color: #b22222;
}

.profile-settings img {
	width: 70px;
	height: 70px;
}

.account-settings ul, .business-settings ul, .profile-settings ul, .lists ul, .my-users ul, .my-fanclubs ul, .public-fanclubs ul, .my-events ul, .public-events ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.account-settings ul li, .business-settings ul li, .profile-settings ul li, .lists ul li, .my-users ul li, .my-fanclubs ul li, .public-fanclubs ul li, .my-events ul li, .public-events ul li {
    border-bottom: 1px solid black;
/*    background-image: url(../img/arrow-icon.svg);
    background-repeat:no-repeat;
    background-size: 25px 25px;
    background-position:center right;  */  
    padding: 0.5em;
}

.account-settings ul li:hover, .business-settings ul li:hover, .profile-settings ul li:hover, .lists ul li:hover, .my-users ul li:hover, .my-fanclubs ul li:hover, .public-fanclubs ul li:hover, .my-events ul li:hover, .public-events ul li:hover {
	cursor: pointer;
}

/*										*/
/*	My-Lists, Fanclubs, Events, Movies	*/
/*										*/

.list-tools {
	background-color: #b22222;
}

.list-post-options {
	margin-left:auto; 
	margin-right:0;
	text-align: right;
	padding: 5px;
}

.list-post-options button {
	width: 25px;
	height: 25px;
}

#delete-button {
	background-image: url("../img/x-icon.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
}

.list-search, .create, .fanclub-search, .movie-search, .user-search, #add-entry {
	display: flex;
	flex-direction: row;
	background-color: #751515;
	padding: 15px;
	margin: 0 auto;
}

.new-post {
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: 0 auto;	
}

.new-post div {
	display: flex;
	flex-direction: row;
	padding-top: 0.3em;
}

.new-post textarea {
	width: 95%;
	height: 5em;
}

.new-post button {
	margin-left: 0.3em;
}

.new-post button, .new-post button:active, .new-post button.active, .create-review button, .create-review button:active, .create-review button.active, .user-follow button, .user-follow button:active, .user-follow button.active, .fanclub-options button, .fanclub-options button:active, .fanclub-options button.active, .event-options button, .event-options button:active, .event-options button.active {
	background-color: #B22222;
	border-color: #581010;
}

.new-post button:hover, .create-review button:hover, .user-follow button:hover, .fanclub-options button:hover, .event-options button:hover, .new-post button:focus, .create-review button:focus, .user-follow button:focus, .fanclub-options button:focus, .event-options button:focus {
	background-color: #581010;
	border-color: #581010;	
}

.user-follow button img, .fanclub-options button img, .event-options button img {
	width: 2em;
	height: 2em;
	padding-right: 0.2em;
}

#add-entry button, #add-entry button:active {
	background-color: #B22222;
	border-color: #581010;
}

#add-entry button:hover, #add-entry button:focus {
	background-color: #581010;
	border-color: #581010;	
}

#add-entry button img {
	width: 2em;
	height: 2em;
	padding-right: 0.2em;
}

.create button, .create-review button, #add-entry button {
	display: inline-block;
	flex-grow: 1;
}

.create-review {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	margin: 0 auto;	
}

.list-search div, .fanclub-search div, .movie-search div {
	display: inline-block;
	flex-grow: 1;
}

.search-bar {
	width: 97%;
}

.search-button {
	width: 3%;
	margin-left: 15px;
	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-size: 25px 100%;
}

.search-button:hover{
	cursor: pointer;
}

/*						*/
/*	My Fanclubs, Events	*/
/*						*/

.my-fanclubs, .public-fanclubs, .my-events, .public-events, .my-users {
	margin-top: 15px;	
}

/*			*/
/*	Movies	*/
/*			*/

.banner {
	background-image: url("../img/movies-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
}

.movie-entry {
	display: inline-block;
	margin: 20px;
	text-align: center;
}

.movie-entry:hover {
	cursor: pointer;
}

.movie-entry img {
	border-radius: 50%;
	overflow: hidden;	
	width: 250px;
	height: 250px;
}

/*						*/
/*	Fanclubs, Events	*/
/*						*/

.fanclub-info, .fanclub-description, .event-info, .event-description, .movie-synopsis {
	background-color: white;
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	padding: 0.5em;
}

.fanclub-fanclub h4, .fanclub-posts h4, .fanclub-description h4, .fanclub-members h4, .event-info h4, .event-description h4, .event-attendants h4, .movie-synopsis h4, .movie-cast h4 {
	color: #b22222;
}

.fanclub-members, .event-attendants, .movie-cast, .fanclub-posts {
	background-color: white;
	margin-top: 15px;
	padding-top: 2px;
	padding: 0.5em;
}

.fanclub-members-content, .event-attendant-content, .movie-cast-content {
	display: inline-block;
	margin: 20px;
	text-align: center;
}

.fanclub-members-content img, .event-attendant-content img, .movie-cast-content img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;			
}

.fanclub-options, .event-options {
	margin-top: 10px;
	margin-bottom: 10px;
}

.attend-button {
	background-image: url(../img/plus-button-background.svg);
}

.join-button {
	background-image: url(../img/plus-button-background.svg);
}

.share-button {
	background-image: url(../img/share-button-background.svg);
}

.invite-button {
	background-image: url(../img/invite-button-background.svg);
}

/*			*/
/*	Login	*/
/*			*/


.login-body {
	background-image: url(../img/filmshackbg.svg);
	background-color: #B22222;
    background-repeat:no-repeat;
    background-position:bottom right;	
    background-size: contain;	
	color: #ffffff;
}

.page-logo {
	font-family: 'Yesteryear', cursive;
	font-size: 80px;
	text-align: center;
	padding-top: 30px;
}

.login-message, .register-message, .recover-message {
	font-size: 36px;
	text-align: center;
	padding-top: 30px;	
}

.form-options {
    display: flex;
    flex-direction: column;
}

.form-options button, .form-options button:active, .form-options button.active {
	background-color: #751515;
	border-color: #581010;	
	margin-top: 15px;
}

.form-options button:hover, .form-options button:visited, .form-options button:focus {
	background-color: #581010;
	border-color: #581010;	
}

.location-details button, .location-details button:active, .location-details button.active {
	background-color: #751515;
	border-color: #581010;	
	margin-top: 15px;
}

.location-details button:hover, .location-details button:visited, .location-details button:focus {
	background-color: #581010;
	border-color: #581010;	
}


/*			*/
/*	Search	*/
/*			*/
.search-title {
	font-size: 36px;
}

.search-content {
	display: flex;
	flex-direction: column;
}

/*				*/
/*	Any List	*/
/*				*/

.list-post-genres {
	font-size: 30px;
}

.list-post-synopsis {
	font-size: 22px;
}

.list-post-name-year {
	font-size: 250%;
	font-weight: bold;
}