<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>                

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
      <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
      <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>
      <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

      <!-- For image uploaded -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>
  </head>
  <body ng-app="myApp">
	{% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header">
        <div class="location">Business Profile</div>
        <div class="filmshack-logo">filmshack</div>
        <div class="notifications"><img ng-src="/static/img/notifications-icon.svg"></img></div>
    </div>  


    <div class="enclosure" ng-controller="business">
      <!-- User-Info, offers user details. -->
      <div class="user-info" ng-include="'static/directives/businessInfo.html'"></div>

      <!-- Profile-Tabs, allow navigation in profile.-->
      <div class="profile-tabs">

        <div ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" >
          <img src="static/img/active-{{ tab.title | lowercase }}-icon.svg"/> {{ tab.title }}
        </div>

      </div>

        <div class="content">
            <div ng-include="currentTab"></div>
        </div>
    </div>

    <script type="text/ng-template" id="activity.tpl.html">
        <div class="activity-post" ng-repeat="activity in userDetails.activity" ng-include="'static/directives/activityPost.html'"></div>
    </script>
    
    <script type="text/ng-template" id="events.tpl.html">
        <div class="event-post" ng-repeat="event in userEvents" ng-include="'static/directives/eventPost.html'"></div>
    </script>

    </div>

    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>
    <!-- Modules -->
    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controllers/businessController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="static/directives/activityPost.js"></script>
    <script src="static/directives/eventPost.js"></script>
	{% endraw %}
  </body>
</html>
