<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>               

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
      <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      
      
      <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- For image uploaded -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>

    
  </head>
  <body ng-app="myApp">
	{% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header">
        <div class="location">Events</div>
        <div class="filmshack-logo">filmshack</div>
        <div class="logout"><img ng-controller="logoutNav" ng-click="logout()" ng-src="/static/img/logout-icon.svg"></img></div>
    </div>  


    <div class="enclosure" ng-controller="events">

      <!-- CREATE AND SEARCH EVENTS -->
      <div class="list-tools">
        <div class="create">
          <button class="create-event" ng-click="toggleModal()">Create a New Event</button>
        </div>
        <div class="list-search">
          <input class="search-bar" ng-model="searchEvents" type="text" placeholder="Search..."/>
        </div>        
      </div>
      
      <!-- 	-----------------------  -->
      <!-- 	ADD EVENT CODE/MODAL	 -->
      <!-- 	-----------------------  -->
        <modal title="Create a New Event" visible="showModal">
            <form role="form">
                <div class="form-group">
                    <label for="list">Event Name:</label>
                    <input ng-model="data2send.eventName" type="text" class="form-control" id="event-name" placeholder="Event name..." />
                    <select ng-model="data2send.eventType">
	              		<option value="Premier">Premier</option>
	              		<option value="Discussion">Discussion</option>
	              		<option value="Movie Showing">Movie Showing</option>
            		</select> <br>
                    <label for="list">Event Description:</label>
                    <input ng-model="data2send.description" type="text" class="form-control" id="event-description" placeholder="Event description..." />
                    <label for="list">Event Location:</label>
                    <input ng-model="data2send.eventLocation"  type="text" class="form-control" id="event-location" placeholder="Event location..." />
                    <label for="list">Event Time:</label>
                    <input ng-model="data2send.eventTime" type="text" class="form-control" id="event-time" placeholder="Event time..." />                                                        
                </div>
                <button ng-click="createFanClub();toggleModal()" type="submit" class="btn btn-default">Create</button>
            </form>
        </modal>

      <!-- 	-----------------------  -->
      <!-- 		MY EVENT CODE		 -->
      <!-- 	-----------------------  -->
      <div class="my-events">
        <h4>My Events</h4>
        <ul>

          <li ng-repeat="event in myEvents | filter:searchEvents"  ng-class="{active:service.active}">
            <a ng-controller="eventsNav" ng-click="goToEventPage(event.name)">{{ event.name }}</a> <br> {{ event.date | date }} <br> Hosted by <a ng-controller="userNav" ng-click="goToAnothersUserProfile(event.host)"> {{ event.host }} </a>

          </li>
        </ul>
      </div>
      <!-- 	-----------------------  -->
      <!-- 		PUBLIC EVENTCODE	 -->
      <!-- 	-----------------------  -->
      <div class="public-events">
        <h4>Public Events</h4>
        <ul>

          <li ng-repeat="event in publicEvents | filter:searchEvents"  ng-click="goToEvent(event.name)" ng-class="{active:service.active}">
            <a ng-controller="eventsNav" ng-click="goToEventPage(event.name)">{{ event.name }}</a> <br> {{ event.date | date }} <br> Hosted by <a ng-controller="userNav" ng-click="goToAnothersUserProfile(event.host)"> {{ event.host }} </a>

          </li>
        </ul>
      </div>



    </div>

    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controllers/eventsController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="static/directives/activityPost.js"></script>
    <script src="static/directives/installApp.js"></script>
    <script src="static/directives/modalDirective.js"></script>
	{% endraw %}
  </body>
</html>
