<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
      <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
      <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.20/angular.js" data-semver="1.2.20"></script>
      <script src="/static/bower_components/angular/angular.js"></script>
      <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- For image uploaded -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>
  </head>
  <body ng-app="myApp">
	{% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header" ng-controller="event">
        {{ event.name }}
    </div>

    <div class="enclosure" ng-controller="event">

      <div class="event-info">
        <div class="event-type"><h4>{{ event.type }} Event</h4></div>
        <div class="event-host">Hosted by <a href="#">{{ event.host }}</a></div>
        <div class="event-date">{{ event.date | date }}</div>
        <div class="event-location">{{ event.locale }}<br>{{ event.address }}</div>
        <div class="event-options">
          <button class="attend-button">Attend</button>
          <button class="share-button" ng-click="toggleModal2()">Share</button>
          <button class="invite-button" ng-click="toggleModal1()">Invite</button>                    
        </div>
      </div>      

      <div class="event-description">
        <h4>Description</h4>
        <div class="event-description-content">{{ event.description }}</div>
      </div>           

      <div class="event-attendants">
        <h4>Attendants</h4>
        <div class="event-attendant-content" ng-repeat="attendant in event.attendants">
          <a href="#"><img src="{{ attendant.img }}"/><br>{{ attendant.name }}</a>
        </div>        
      </div>

    <modal title="Event was Shared!" visible="showModal2">
        <form role="form">
          <button type="submit" class="btn btn-default">Ok</button>
        </form>
      </modal>

    <modal title="Invite Friends" visible="showModal1">
        <form role="form">
          <div class="form-group">
            <label for="list">Choose friends</label>          
            <br>
              <div class="event-attendant-content" ng-repeat="attendant in event.attendants">
                <input type="checkbox"><img src="{{ attendant.img }}"/><br>{{ attendant.name }}
              </div>
            <br>
            <br>
          </div>
          <button type="submit" class="btn btn-default">Invite</button>
        </form>
      </modal>    

    </div>

    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controllers/eventController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="static/directives/activityPost.js"></script>
    <script src="static/directives/installApp.js"></script>
    <script src="static/directives/modalDirective.js"></script>
	{% endraw %}
  </body>
</html>
