<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
      <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
      <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.20/angular.js" data-semver="1.2.20"></script>
      <script src="/static/bower_components/angular/angular.js"></script>
      <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>

    <!-- For image uploaded -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>
  </head>
  <body ng-app="myApp">
	{% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header" ng-controller="fanclub">
        {{ fanclub.name }}
    </div>

    <div class="enclosure" ng-controller="fanclub">

      <div class="fanclub-info">
        <div class="fanclub-type"><h4>{{ fanclub.type }} Fanclub</h4></div>
        <div class="fanclub-director">Directed by <a >{{ fanclub.director }}</a></div>
        <div class="fanclub-options">
          <button class="join-button">Join</button>
          <button class="share-button">Share</button>
          <button class="invite-button">Invite</button>                    
        </div>
      </div>      

      <div class="fanclub-description">
        <h4>Description</h4>
        <div class="fanclub-description-content">{{ fanclub.description }}</div>
      </div>           

      <div class="fanclub-members">
        <h4>Members</h4>
        <div class="fanclub-members-content" ng-repeat="member in fanclub.members">
          <a ng-controller="userNav" ng-click="goToUserProfile(member.name)"><img src="{{ member.img }}" ng-controller="userNav" ng-click="goToUserProfile(member.name)"/><br>{{ member.name }}</a>
        </div>        
      </div>           

    </div>

    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controllers/fanclubController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="static/directives/activityPost.js"></script>
    <script src="static/directives/installApp.js"></script>
	{% endraw %}
  </body>
</html>
