<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>           

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
      <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>

    <!-- For image uploaded -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>
  </head>
  <body ng-app="myApp">
	{% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header" ng-controller="fanclub">
        <div class="location">{{ fanClubName}}</div>
        <div class="filmshack-logo">filmshack</div>
        <div class="notifications"><img ng-src="/static/img/notifications-icon.svg"></img></div>
    </div>      

    <div class="enclosure" ng-controller="fanclub">

      	<div class="fanclub-info">
        	<div class="fanclub-type"><h4>{{ fanclub.type }} Fanclub</h4></div>
        	<div class="fanclub-director">Directed by <a >{{ fanclub.director }}</a></div>
        	<div class="fanclub-options">
          		<button ng-click="addfollowfanclub(fanClubName)" class="join-button">Join</button>
          		<button class="share-button">Share</button>
          		<button class="invite-button">Invite</button>                    
        	</div>    
      	</div>      

      	<div class="fanclub-description">
        	<h4>Description</h4>
        	<div class="fanclub-description-content">{{ fanclub.description }}</div>
      	</div>        
      	   
		<!-- ------------------- -->
		<!-- 	MEMBERS SECTION  -->
		<!-- ------------------- -->
      	<div class="fanclub-members">
        	<h4>Members</h4>
        	<div class="fanclub-members-content" ng-repeat="member in fanclub.members">
          		<a ng-controller="userNav" ng-click="goToAnothersUserProfile(member.name)"><img src="{{ member.img }}" ng-controller="userNav" ng-click="goToAnothersUserProfile(member.name)"/><br>{{ member.name }}</a>
        	</div>
                
      	</div>    

    <!-- ------------------- -->
    <!--  POSTS SECTION  -->
    <!-- ------------------- -->
        <div class="fanclub-posts">
          <h4>Posts</h4>
          <div class="fanclub-posts-content">
              <div class="new-post">
                  <input placeholder="Post Title"></input>
                  <div>
                    <textarea placeholder="Write something to {{ fanClubName }}..."></textarea>
                    <button class="btn btn-primary ng-scope">Post</button>
                  </div>                  
              </div>
              <div class="activity-post" ng-repeat="post in fanclub.posts">
                  <div class="profile-picture-thmb">
                    <img src="static/img/profile-picture-placeholder.svg"/>
                  </div>
                   <div class="activity-post-content">
                    <a ng-controller="userNav" ng-click="goToAnothersUserProfile(activity.name)">{{ post.publisher }}</a> created a new {{ post.type }}
                      <br>{{ post.pubdate | date }}
                      <br><a ng-show="post.type == 'List'" ng-controller="listNav" ng-click="goToList(activity.title)">{{post.title}}</a><div ng-show="post.type != 'List'">{{post.title}}</div>
                </div>
              </div>
          </div>                
        </div>                 
    </div>

    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controllers/fanclubController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="static/directives/activityPost.js"></script>
    <script src="static/directives/installApp.js"></script>
	{% endraw %}
  </body>
</html>
