<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/bower_components/flexslider/flexslider.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="/static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>    
   

  <script src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>

      <!-- For image uploaded -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>

  </head>
  <body ng-app="myApp">
    {% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header">
        <div class="location">Home</div>
        <div class="filmshack-logo">filmshack</div>
        <div class="notifications"><img ng-src="/static/img/notifications-icon.svg"></img></div>
    </div>

    <div class="enclosure" ng-controller="home">

      <div class="home-location">
        <div ng-include="currentInfo"></div>
      </div>

      <div class="profile-tabs">
        <div ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" ><img src="/static/img/active-{{ tab.title | lowercase }}-icon.svg"/> {{ tab.title }}</div>
      </div>

        <div class="content">
            <div ng-include="currentTab"></div>
        </div>      
    </div>

    <script type="text/ng-template" id="Users">
        <div id='wrapper' style='text-align: center; background-image: url("static/img/users-bg.jpg"); background-repeat: no-repeat; background-size: 100% 100%;'>
            <div style='display: inline-block; vertical-align: top;'>
              <div class="location-img"><img ng-src="static/img/users-icon.svg"/></div>
            </div>
            <div style='display: inline-block; vertical-align: top;'>
              <div class="location-details">
                <div class="location-title">User Activity Feed</div>
                <div class="location-description">Find out what the users that you follow are up to! Discover new movies, actors, and more!</div>
              </div>
            </div>
        </div>
    </script>

    <!-- -------------------------------- -->
    <!--          FAN CLUB BANNER	      -->
    <!-- -------------------------------- -->
    <script type="text/ng-template" id="Fanclubs">
        <div id='wrapper' style='text-align: center; background-image: url("static/img/fanclubs-bg.jpg"); background-repeat: no-repeat; background-size: 100% 100%;'>
            <div style='display: inline-block; vertical-align: top;'>
              <div class="location-img"><img ng-src="static/img/fanclubs-icon.svg"/></div>
            </div>
            <div style='display: inline-block; vertical-align: top;'>
              <div class="location-details">
                <div class="location-title">Fanclub Activity Feed</div>
                <div class="location-description">Find out what the users that you follow are up to! Discover new movies, actors, and more!</div>
                <button class="btn btn-primary" ng-controller="fanClubNav" ng-click="goToFCHome()">Fanclubs Home</button>
              </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="Events">
        <div id='wrapper' style='text-align: center; background-image: url("static/img/events-bg.jpg"); background-repeat: no-repeat; background-size: 100% 100%;'>
            <div style='display: inline-block; vertical-align: top;'>
              <div class="location-img"><img ng-src="static/img/events-icon.svg"/></div>
            </div>
            <div style='display: inline-block; vertical-align: top;'>
              <div class="location-details">
                <div class="location-title">Events Activity Feed</div>
                <div class="location-description">Find out what the users that you follow are up to! Discover new movies, actors, and more!</div>
                <button class="btn btn-primary" ng-controller="eventsNav" ng-click="goToEvents()">Events Home</button>
              </div>
            </div>
        </div>
    </script>

    <!-- ------------------------------ -->
    <!--            USER TAB            -->
    <!-- ------------------------------ -->
    <script type="text/ng-template" id="userfeed.tpl.html">
      <div class="user-feed">
        <div class="activity-post" ng-repeat="activity in userActivities">
            <div class="profile-picture-thmb">
              <img src="{{activity.image}}"/>
            </div>
             <div class="activity-post-content">
              <a ng-controller="userNav" ng-click="goToAnothersUserProfile(activity.name)">{{ activity.name }}</a> created a new {{ activity.type }}
                <br>{{ activity.pubdate | date }}
                <br><a ng-show="activity.type == 'List'" ng-controller="listNav" ng-click="goToList(activity.title)">{{activity.title}}</a><div ng-show="activity.type != 'List'">{{activity.title}}</div>
          </div>
        </div>
      </div>  
    </script>

    <!-- ------------------------------ -->
    <!--          FAN CLUB  TAB         -->
    <!-- ------------------------------ -->
    <script type="text/ng-template" id="fanclubfeed.tpl.html">
      <div class="fanclub-feed">
        <div class="activity-post" ng-repeat="activity in fanclubActivities">
            <div class="profile-picture-thmb">
              <img src="{{activity.img}}"/>
            </div>
            <div class="post-content">
              <a ng-controller="userNav" ng-click="goToAnothersUserProfile(activity.publisher)">{{ activity.publisher }}</a>  in <a ng-controller="fanClubNav" ng-click="goToFCPage(activity.fanclub)">{{activity.fanclub}}</a> ({{ activity.type }})
                <br>{{ activity.pubdate | date }}
				<br>{{ activity.text}}
            </div>
        </div>
      </div>  
    </script>

    <!-- ------------------------------ -->
    <!--            EVENT TAB           -->
    <!-- ------------------------------ -->
    <script type="text/ng-template" id="eventfeed.tpl.html">
      <div class="event-feed">
        <div class="activity-post" ng-repeat="activity in eventActivities">
            <div class="profile-picture-thmb">
              <img src="{{activity.img}}"/>
            </div>
            <div class="post-content">
              <a ng-controller="userNav" ng-click="goToAnothersUserProfile(activity.publisher)">{{ activity.publisher }}</a> {{ activity.type }}  <a ng-controller="eventsNav" ng-click="goToEventPage(activity.eventName)">{{activity.eventName}}</a>
                <br>{{ activity.pubdate | date }}
            </div>
        </div>
      </div>  
    </script>        

    <!-- Botton part of the page -->
    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="/static/js/app.js"></script>

    <!-- Controllers -->
    <script src="/static/js/controllers/homeController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="/static/js/directives/activityPost.js"></script>
    <script src="/static/js/directives/installApp.js"></script>

    {% endraw %}
  </body>
</html>
