<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>            

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
      <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- For image uploaded -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
      <!-- GLORY -->
  <link rel="stylesheet" href="/static/jAlert-master/src/jAlert-v3.css" />
    <script src="/static/jAlert-master/src/jAlert-v3.js"></script>
    <script src="/static/jAlert-master/src/jAlert-functions.js"></script>

  </head>
  <body ng-app="myApp">
    {% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header" ng-controller="list">
        <div class="location">{{ list.name }}</div>
        <div class="filmshack-logo">filmshack</div>
        <div class="logout"><img ng-controller="logoutNav" ng-click="logout()" ng-src="/static/img/logout-icon.svg"></img></div>
    </div>    

    <div class="enclosure" ng-controller="list">
        <div id="add-entry">
          <button id="add-list-entry" class="btn btn-primary" ng-click="toggleModal()">
            <img ng-src="static/img/plus-icon.svg"/> Add List Entry
          </button>
      </div>

      <!-- User-Info, offers user details. -->
      <div class="activity-post" ng-repeat="content in list.content">
          <div class="list-post-img">
            <img  src="static/img/img-placeholder.svg"/>
          </div>          
          <div class="search-content-wrapper">
            <div class="post-content">
            	<div style='float: right;'><button ng-click="deleteListItem(content.title)" id="delete-button" style=" width: 25px; height: 25px;"></button></div>
              <div class="list-post-name-year"><center>{{ content.title }}</center></div>
              <div class="list-post-synopsis"><center>" {{ content.description }} "</center></div>
            </div>
          </div>
      </div>

      <modal title="Create a New List Post" visible="showModal">
        <form role="form">
            <div class="form-group">
                <label for="title">Post Title</label>
                <input type="text" class="form-control" id="post-title" ng-model="data2send.title" placeholder="Post Title..." />
                <label for="text">Post Text</label>
                <input type="text" class="form-control" id="post-text" ng-model="data2send.text" placeholder="Post Text..." />                
            </div>
            <button type="submit" class="btn btn-default" ng-click="addlist2user();toggleModal()">Create</button>
        </form>
      </modal>      

    </div>

    <!-- Botton part of the page -->
    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="/static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/directives/modalDirective.js"></script>    
    <script src="/static/js/controllers/nonmovielistController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>


    {% endraw %}
  </body>
</html>