<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/bower_components/flexslider/flexslider.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="/static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>             
   

  <script src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
  <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.20/angular.js" data-semver="1.2.20"></script>
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>

    <!-- For image uploaded -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
    <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>

  </head>
  <body ng-app="myApp">
    {% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header" ng-controller="list">
        <div class="location">{{ list.name }}</div>
        <div class="filmshack-logo">filmshack</div>
        <div class="notifications"><img ng-src="/static/img/notifications-icon.svg"></img></div>
    </div>    

    <div class="enclosure" ng-controller="list">
      <!-- User-Info, offers user details. -->
      <div class="activity-post" ng-repeat="movie in list.movies">
          <div class="movie-poster">
            <img src="static/img/profile-picture-placeholder.svg"/>
          </div>
          <div class="post-content">
            <div class="movie-name">{{ movie.title }} {{ movie.year }}</div>
          </div>
      </div>

    </div>

    <!-- Botton part of the page -->
    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="/static/js/app.js"></script>

    <!-- Controllers -->
    <script src="/static/js/controllers/listController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="/static/js/directives/activityPost.js"></script>
    <script src="/static/js/directives/installApp.js"></script>

    {% endraw %}
  </body>
</html>