<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
    
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


    
    <!-- GLORY -->
    <link rel="stylesheet" href="/static/jAlert-master/src/jAlert-v3.css" />
    <script src="/static/jAlert-master/src/jAlert-v3.js"></script>


  </head>
  
<body class="login-body" ng-app="myApp">
  {% raw %}    

<div class="page-logo">filmshack</div>

<div class="enclosure" ng-controller="login">
    <div class="log-content">
        <div ng-include="currentOpt"></div>
    </div>    
</div>
        
	<!-- LOG IN  -->
    <script type="text/ng-template" id="login.tpl.html">
    <div class="login-message">Sign In To Your Account</div>
    <div class="col-md-6 col-md-offset-3">
        <form name="form" role="form">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" ng-change="resetPaswordMsg()" name="Email" id="Email" ng-model="data2sendlogin.email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input  ng-change="resetPaswordMsg()" type="password" name="password" id="password" ng-model="data2sendlogin.password" class="form-control" />
				<div ng-modal="passwordSrvMsg"> {{passwordSrvMsg}} </div>
				<br>
            </div>
            <div class="form-options">
                <button type="submit" class="btn btn-primary" ng-repeat="opt in opts" ng-class="{active:isActiveOpt(opt.url)}" ng-click="onClickOpt(opt)">{{ opt.title }}</button>
            </div>
        </form>  
    </div>
    </script>
    
    <!-- REGISTER  -->
    <script type="text/ng-template" id="register.tpl.html">
    <div class="register-message">Register a New Account</div>
    <div class="col-md-6 col-md-offset-3">
        <form name="form" role="form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" ng-model="data2sendregister.username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" ng-model="data2sendregister.email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input ng-change="verifyMatch()" type="password" name="password" id="password" ng-model="data2sendregister.password1" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input ng-change="verifyMatch()" type="password" name="password" id="password" ng-model="data2sendregister.password2" class="form-control" />
				<div ng-modal="passwordMatch"> {{passwordMatch}} </div>
				<br>
            </div>            
            <div class="form-options">
                <button type="submit" class="btn btn-primary" ng-click="addAccount()">Submit</button>
            </div>
        </form>

    </div>
    </script>

	<!-- RECOVER PASS -->
    <script type="text/ng-template" id="recover.tpl.html">
    <div class="recover-message">Recover Your Password</div>
    <div class="col-md-6 col-md-offset-3">
        <form name="form" role="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input ng-modal="emailForRecover" type="email" name="email" id="email" class="form-control" />
            </div>
            <div class="form-options">
                <button ng-click="recoverPass()" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>    
    </script>    



    <!-- Modules -->
    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controllers/loginController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="static/directives/modalDirective.js"></script>


  {% endraw %}
  </body>
</html>
