<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="static/css/filmshack.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>        

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
      <script src="/static/bower_components/flexslider/jquery.flexslider.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="/static/bower_components/angular-flexslider/angular-flexslider.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

      <!-- For image uploaded -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.min.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.js"></script>
      <script src="/static/bower_components/ng-file-upload-bower-9.0.9/ng-file-upload-all.min.js"></script>
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
  </head>
  <body ng-app="myApp">
	{% raw %}
    <!-- Header, indicates where the user is located. -->
    <div class="header">
        <div class="location">Settings</div>
        <div class="filmshack-logo">filmshack</div>
        <div class="logout"><img ng-controller="logoutNav" ng-click="logout()" ng-src="/static/img/logout-icon.svg"></img></div>
    </div>

    <div class="enclosure" ng-controller="settings">
      <!-- ------------------------------------ -->
      <!--              ACCOUNT SETTINGS        -->
      <!-- ------------------------------------ -->
      <div class="account-settings">
          <form>
              <fieldset>
                  <legend><h4>Account</h4></legend>
                    <ul>
                        <li ng-click="toggleModal('Names')" ng-class="{active:service.active}">
                            <div>
                            <p ><strong>Username</strong></p><br><p style="text-indent: 2em;">{{ userDetails.Names }}</p>
                            </div>
                        </li>
                        <!-- <li ng-click="toggleModal('Email')" ng-class="{active:service.active}">
                            <div>
                            <p ><strong>Email</strong></p><br><p style="text-indent: 2em;">{{ userDetails.Email }}</p>
                            </div>
                        </li> -->
                        <li ng-click="toggleModal('Password')" ng-class="{active:service.active}">
                            <div>
                            <p ><strong>Password</strong></p><br><p style="text-indent: 2em;">********</p>
                            </div>
                        </li>
                    </ul>
              </fieldset>
          </form>
      </div>

      <!-- ------------------------------------ -->
      <!--              PROFILE SETTINGS        -->
      <!-- ------------------------------------ -->
      <div class="profile-settings">
          <form>
              <fieldset>
                  <legend><h4>Personal Profile</h4></legend>
                  <ul>
                      <li ng-click="toggleActive(service)" ng-class="{active:service.active}">
                          <div>
                              <p><strong>Profile Picture</strong></p><br>
                              <img ng-show="files[0].name == null" ng-change="static/img/profile-picture-placeholder.svg = files[0].name.toString()" ng-src="static/img/profile-picture-placeholder.svg" style="text-indent: 2em;" class="drop-box" ng-model="profilePic2" ngf-select="uploadFiles($files)"  ngf-drop="uploadFiles($files)"  accept="image/*" ngf-pattern="'image/*'" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-capture="'camera'" >   </img>
                              <img class="after-drop" ng-show="files[0].name != null" ngf-src="profilePic2">
                              <br><span class="progress" ng-show="progress >= 0">
                                <div class="progress" style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                            </span>
                          </div>
                      </li>                          
                        <li ng-click="toggleModal('Quote')" ng-class="{active:service.active}">
                            <div>
                            <p ><strong>Quote</strong></p><br><p style="text-indent: 2em;">{{ userDetails.Quote }}</p>
                            </div>
                        </li>
                  </ul>
              </fieldset>
          </form>
      </div>

      <!-- ------------------------------------ -->
      <!--              BUSINESS SETTINGS        -->
      <!-- ------------------------------------ -->
      <div class="business-settings">
          <form>
              <fieldset>
                  <legend><h4>Business Profile</h4></legend>
                  <ul>
                  	<!-- CREATE BUSS -->
                    <li ng-click="toggleBusinessModal('Business')" ng-class="{active:service.active}">
                      <div>
                        <a>Create Business</a>
                      </div>
                    </li>
                  </ul>
                  <!-- SHOW BUSS SI TIENES -->
                  <ul ng-show="getBusiness">
                        <li ng-click="toggleModal('Names')" ng-class="{active:service.active}">
                            <div>
                            <p ><strong>Business Username</strong></p><br><p style="text-indent: 2em;">{{ businessDetails.name }}</p>
                            </div>
                        </li>                      
                        <li ng-click="toggleModal('Quote')" ng-class="{active:service.active}">
                            <div>
                            <p ><strong>Business Quote</strong></p><br><p style="text-indent: 2em;">{{ businessDetails.quote }}</p>
                            </div>
                        </li>
                  </ul>
              </fieldset>
          </form>
      </div>      

      <modal title="Change Setting" visible="showModal">
        <form role="form">
          <div class="form-group">
            <label for="list"> Current {{accType}} </label>
            
            <br>
            <label for="list"> {{currentOpt}} </label>
            <br>
            <br>
            <input type="text" ng-model="data2send.gvar" class="form-control" id="list-name" placeholder="New {{accType}}..." />
          </div>
          <button type="submit" class="btn btn-default" ng-click="toggleModal(accType); onClickOpt(accType)">Change</button>
        </form>
      </modal>

      <modal title="Change Setting" visible="showBusinessModal">
        <form role="form">
          <div class="form-group">
            <label for="list">Create a New {{ accType }}</label>
            <br>
            <label for="list">{{accType}} Name:</label>
            <br>
            <input type="text" ng-model="data2send.gvar" class="form-control" id="list-name" placeholder="New {{accType}}..." />
            <br>
            <label for="list">{{accType}} Quote:</label>
            <input type="text" ng-model="data2send.gvar" class="form-control" id="list-name" placeholder="{{accType}} Quote..." />            
          </div>
          <button type="submit" class="btn btn-default" ng-click="toggleModal(accType); onClickOpt(accType)">Create</button>
        </form>
      </modal>      

    </div>

    <!-- Navigation, contains buttons that navigate user through app.-->
    <nav class="navigation" ng-include="'static/directives/navigation.html'"></nav>

    <!-- Modules -->
    <script src="static/js/app.js"></script>

    <!-- Controllers -->
    <script src="static/js/controllers/settingsController.js"></script>
    <script src="/static/js/controllers/navigationActions.js"></script>

    <!-- Directives -->
    <script src="static/directives/modalDirective.js"></script>




	{% endraw %}
  </body>
</html>

